.flexy
{
    &__item
    {
        display: flex;
        flex-wrap: nowrap;
    }
    &__child
    {
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 0;
        &--fill
        {
            flex-basis: 100%;
        }
    }
    &__item,
    &_child
    {
        box-sizing: border-box;
    }
    &--row
    {
        flex-direction: row;
    }
    &--column
    {
        flex-direction: column;
    }
    &--between
    {
        justify-content: space-between;
    }
    &--around
    {
        justify-content: space-around;
    }
    &--justify-end
    {
        justify-content: flex-end;
    }
    &--justify-center
    {
        justify-content: center;
    }
    &--items-center
    {
        align-items: center;
    }
}