@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,700';
@import 'https://fonts.googleapis.com/css?family=Kreon:300,700';

body
{
    font-family: 'Open Sans';
    font-weight: 300;
    font-size: 1em;
    line-height: 1em;
    -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Kreon', serif;
}

em,
strong
{
    font-weight: 700;
}

.text__align
{
    &--right
    {
        text-align: right;
    }
    &--left
    {
        text-align: left;
    }
    &--center
    {
        text-align: center;
    }
}