.related-article {
    width: 100%;
    overflow: hidden;
    padding-bottom: ($lineHeight * 4);
    @media (max-width: $mobile) {
        margin-bottom: ($lineHeight * 3);
    }
    &__header {
        margin-bottom: $lineHeight;
    }
    &__heading {
        font-size: 3.5em;
        font-weight: 700;
        font-variant: small-caps;
        text-transform: lowercase;
        line-height: $lineHeight / 2.5;
        margin-bottom: .45em;
        padding-right: 1em;
        @media (max-width: $mobile) {
            font-size: 2em;
        }
    }
    &__description
    {
        line-height: $lineHeight;
        font-family: 'Kreon', serif;
    }
}