.code-switcher {
    background-color: rgba($mainColor, .5);
    border: 1px dashed rgba($backgroundColor, 0.45);
    border-radius: $radius;
    min-height: 70vh;
    &__actions {
        order: 1;
        border-radius: $radius $radius 0 0;
        border-bottom: 1px dashed rgba($backgroundColor, 0.25);
        background-color: $cyan;
    }
    &__button {
        display: inline-block;
        line-height: 1em;
    }
    &__item {
        width: 200%;
        margin-left: -100%;
        &__content {
            flex-shrink: 0;
            box-sizing: border-box;
            &__object {
                flex-shrink: 0;
                flex-basis: 100%;
            }
        }
    }
    .show-control {
        &__content {
            transition: $transition;
            order: 2;
        }
        &:checked ~ .code-switcher__actions .code-switcher__button .toggle {
            background-color: $lime;
            &:before {
                transform: translateX(100%);
            }
        }
    }
}

.svg-icon + .toggle {
    margin-left: .5em;
}