.main-section {
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: $transition;
    &__content {
        height: 100%;
        overflow: scroll;
        position: relative;
        color: $backgroundColor;
        background-color: $mainColor;
        transition: $fastTransition;
        padding: ($basePadding * 6) ($basePadding * 4) 0;
        @media (max-width: $mobile) {
            padding: ($basePadding * 4) ($basePadding * 2) 0;
        }
        box-sizing: border-box;
        &.show-control__content {
            transform: translate(0,100%);
        }
    }
}