.toggle {
    position: relative;
    display: inline-block;
    width: 2em;
    height: 1em;
    border-radius: .5em;
    border: 1px solid rgba($backgroundColor, 0.25);
    box-sizing: border-box;
    background-color: $red;
    transition: $transitionAll;
    &:before {
        display: inline-block;
        content: '';
        width: 1em;
        height: 1em;
        border-radius: 50%;
        position: absolute;
        left: -1px;
        top: -1px;
        border: 1px solid rgba($backgroundColor, 0.25);
        box-sizing: border-box;
        background-color: $white;
        transition: $fastTransition;
    }
}